/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body-wrap {
  max-width: 1280px;
  margin: 0 auto;
}

#food-select {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 3rem;
}

#food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#food-grid > img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}

#food-list-wrap {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 3rem;
}

#food-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  align-content: baseline;
}

#food-list > span {
  border: 2px rgb(5, 24, 24) solid;
  border-radius: .5em;
  padding: .2rem;
  text-align: center;
}

#reset {
  color: white;
  background-color: red;
  padding: 1em;
  border-radius: .5rem;
}

